a.text-light.navbar-brand{
  font-weight: 900;
  margin: .8rem auto;
  font-size: 2.5rem;
}

@media(max-width:375px){
  a.text-light.navbar-brand{
    font-size: 1.7rem;
  }
}

div.d-flex.justify-content-center.container{
   background-color: #CE96A6
}

.emoji-img{
  font-size: 35px;
  text-align: center;
  margin: 1rem auto;
}

body{
  background-color: #D2E0BF !important;
}

div.h-100.card{
  border-color: #D4CBB3;
}