@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,900&display=swap');

body {
  margin: 0;
  padding-top: 3rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #CE84AD;
}

p{
  font-weight: 300;
}

div.card-title.h5{
  font-weight: 900 !important;
  color: #CE84AD;
  font-size: 1.5rem;
}

div.h-100.card{
  border: 2px solid #D4CBB3 !important;
}



